body {
    font-family: 'Poppins', 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1, .title h2 {
    margin: 0;
}

.buttons button {
    background-color: white;
    color: #4CAF50;
    padding: 10px 15px;
    font-family: 'Poppins', 'Inter', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.buttons button:hover {
    background-color: #347b37;
    color: white;
}


h1, h2, h3 {
    margin: 0;
    padding-bottom: 10px;
}


/*****************************FORM E BIBLIOTECA DE ATIVIDADES**********************************************************************/
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
}

.form {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 48%;
    height: 400px;
    box-sizing: border-box;
    border-radius: 12px;
}

#library {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 48%;
    height: 400px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow-y: auto;
}

.form h3, #library h3 {
    margin-top: 0;
    color: #333;
    font-weight: 600;
}

.post-title, .post-description, .post-type {
    width: 100%;
    margin-bottom: 15px;
    padding: 4px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f7f7f7; 
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}

.post-title:focus, .post-description:focus, .post-type:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 6px rgba(76, 175, 80, 0.2);
}

.post-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.post-button:hover {
    background-color: #45a049;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px; 
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    transition: transform 0.2s ease;
    width: 150px; 
    height: auto; 
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.card img {
    width: 80px;
    height: auto;
    
}

.btn-edit, .btn-delete {
    padding: 5px 8px; 
    font-size: 10px;
    margin: 2px; 
}

.card:hover {
    transform: scale(1.02);
}

#library::-webkit-scrollbar {
    width: 6px;
}

#library::-webkit-scrollbar-track {
    background: transparent;
}

#library::-webkit-scrollbar-thumb {
    background-color: #4CAF50;
    border-radius: 10px;
}

/***********************************MODAL**********************************/

.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Certifique-se de que seja maior que outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
}

.modal-content {
    background-color: #FFFFFF;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #4CAF50;
    text-decoration: none;
    cursor: pointer;
}

.modal h3 {
    margin: 0 0 20px;
    color: #333;
    font-weight: 400;
}

.modal input, .modal textarea {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal textarea {
    resize: none;
    height: 80px;
}

.modal button {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 4px;
}

.modal button:hover {
    background: #43A047;
}


/*************************AGENDA***************/

  
.calendar {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 30px;
  }
  
  .calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}



.calendar__title {
    display: flex;
    align-items: center;
}


  .today-button {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .today-button:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #00B4FC;
  }
  

  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background: #f4f4f4;
  }
  
  th, td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd;
    transition: background 0.2s;
  }
  
  .headcol {
    width: 60px;
    background: #f0f4f8;
  }
  
  td:hover {
    background: #f9f9f9;
  }
  
  .event {
    background: #ff5733; /* Mudar a cor do evento */
    color: white;
    border-radius: 8px; /* Para um visual mais "card" */
    padding: 10px;
    margin: 5px; /* Adiciona espaço entre os cards de eventos */
    width: auto; /* Permitir que o card não ocupe toda a largura */
    display: inline-block; /* Faz o card se comportar como um bloco em linha */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de card */
}

.event:hover {
    background: #c0392b; /* Cor de fundo do evento ao passar o mouse */
}
  
  .icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #dadde0;
  }

  .btn-edit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}





.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
